<script type="text/javascript" src="/submitModalForm.js"></script>

<div class="request">
  <h2><%= @request.status ? @request.status.capitalize : "Pending" %> Rental Request from <%= @request.user.user_name %></h2>

  <h4>Property: <%= @place.title %></h4>
  <h4>Owner: <%= @place.owner.user_name %></h4>
  <h4>Check In: <%= @request.begin_date.strftime("%m/%d/%Y") %></h4>
  <h4>Check Out: <%= @request.end_date.strftime("%m/%d/%Y") %></h4>
</div>

<a href="#new_message" role="button" class="btn" data-toggle="modal" id="message_button">Send <%= current_user.id == @place.owner_id ? "Requester" : "Owner" %> A Message</a>

<% unless @request.status %>
  <%= link_to "Approve", 
              approve_place_place_rental_request_url(@place, @request),
              class: "btn btn-success link_button" %>
  <%= link_to "Deny", 
      deny_place_place_rental_request_url(@place, @request),
      class: "btn btn-danger link_button" %>
<% end %>
<br>

<%= link_to "All Requests", place_place_rental_requests_url(@place), class: "btn btn-primary" %>
<%= link_to "Back To Property", @place, class: "btn btn-inverse" %>

