<h2>Edit Profile</h2>
<%= form_for(@user) do |f| %>

  <div class="edit_form_box">
    <label for="first_name">First Name</label>
    <input type="text" name="user[first_name]" id="first_name" value="<%= @user.first_name %>">

    <label for="last_name">Last Name</label>
    <input type="text" name="user[last_name]" id="last_name" value="<%= @user.last_name %>">

    <label for="city">Current City</label>
    <input type="text" name="user[city]" id="city" value="<%= @user.city %>">

    <label for="state">State</label>
    <input type="text" name="user[state]" id="state" value="<%= @user.state %>">

    <label for="description">Introduce Yourself:</label><br>
    <textarea id="description" name="user[description]">
      <%= @user.description %>
    </textarea>
  </div>

  <div class="image_uploader float_left">
    <%= f.label :filepicker_url, "Upload a Picture of Yourself" %>
    <%= f.filepicker_field :filepicker_url %>
  </div>

  <input type="submit" value="Save Changes" class="btn btn-primary">
<% end %>