<script type="text/javascript" src="/userShow.js"></script>
<div class="user_info float_left">
  <%= filepicker_image_tag @user.filepicker_url, w:200 %>
  <h3><%= @user.first_name %></h3>
  <p><%= @user.city %>, <%= @user.state %></p>
</div>

<div class="float_left" id="user_description">
  <h3>A Little About Me:</h3><br>
  <p><%= @user.description %></p>
</div>

<div id="user_show_properties">
  <div class="title" style="border-top:none;">
    <h1>Properties:</h1>
  </div>

  <div class="container" 
       data-height="<%= @places.count/4 + 1 %>">
    <% @places.each do |place| %>

      <div class="place_box inner" 
           data-id="<%= place.id %>"
           style="background-image: url('<%= place.filepicker_url %>/convert?format=jpg&quality=20')">
        <h3 class="box_title"><%= place.title %></h3>
        <ul id="address_details">
          <li>Address: <br><%= place.line1 %><br>
          <% if place.line2 %>
            <%= place.line2 %></li>
          <% end %>
          <li>City: <%= place.city %></li>  
        </ul>
      </div>
    <% end %>
  </div>
</div>
