<script type="text/javascript" src="/userShow.js"></script>
<div class="user_info float_left">
  <%= filepicker_image_tag @user.filepicker_url, w:200 %>
  <h3><%= @user.first_name %></h3>
  <p><%= @user.city %>, <%= @user.state %></p>
</div>

<div class="float_left" id="user_description">
  <h3 id="intro_heading">Hey, I'm <%= @user.first_name%>!</h3><br>
  <p><%= @user.description %></p>
</div>

<div id="user_show_properties">
  <div class="review_title">
    <h1>Properties:</h1>
  </div>

  <div class="container" id="user_show_container" 
       data-height="<%= @places.count/4 + 1 %>">
    <% @places.each do |place| %>

      <div class="place_box inner" 
           data-id="<%= place.id %>"
           style="background-image: url('<%= place.filepicker_url %>/convert?format=jpg&quality=20')">
        <h3 class="box_title"><%= place.title %></h3>
        <ul id="address_details">
          <li>Address: <br><%= place.line1 %><br>
          <% if place.line2 %>
            <%= place.line2 %></li>
          <% end %>
          <li>City: <%= place.city %></li>  
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="review_title">
  <h3>Reviews: <span class="faded_out"><%= @reviews.count %></span></h3>
</div>

<div id="user_reviews">
  <h3>User Reviews:</h3>
  <% @reviews.each do |review| %>
    <div class="single_review">
      <div class="review_user_info">
        <img class="crop_image" style="display:inline;" src="<%= review.user.filepicker_url %>"><p><%= review.user.first_name %> from <%= review.user.city %></p>
      </div>
      <div class="review_user_page_body">
        <span class="tooltip-arrow"></span>
        <p><%= review.body %></p>
        <br>
        <p>Stayed at: <%= link_to review.place_rented.title, place_url(review.place_rented) %>, <%= review.trip.begin_date.strftime("%B %Y") %></p>
      </div>
    </div>
  <% end %>
</div>
