<script type="text/javascript" src="/dashboard.js"></script>
<script type="text/javascript" src="/reviewModalSend.js"></script>

<div class="dashboard">
  <ul class="nav nav-pills" id="dashboard_nav">
    <li class="active"><a class="dash" href="/dashboard">Dashboard</a></li>
    <li>
      <a class="dash" href="/message_threads">
        Inbox
        <%= unread_messages.length != 0 ? ":  "+ unread_messages.count.to_s : "" %>
      </a>
    </li>
    <li><a class="dash" href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
    <li><a class="dash" href="/users/<%= current_user.id %>">My Profile</a></li>
  </ul>
</div>

<div id="tabs" class="user_tabs_box">
  <ul>
    <li><a href="#tabs-1">Your Properties</a></li>
    <li><a href="#tabs-2">Current Trips</a></li>
    <li><a href="#tabs-3">Pending Trips</a></li>
    <li><a href="#tabs-4">Past Trips</a></li>
  </ul>

  <div id="tabs-1">
    <div class="title">
      <h1>Your Properties:</h1>
    </div>
    <div class="container" 
         data-height="<%= @places.count/4 + 1 %>">
      <% @places.each do |place| %>

        <div class="place_box inner" 
             data-id="<%= place.id %>"
             style="background-image: url('<%= place.filepicker_url %>/convert?format=jpg&quality=20')">
          <h3 class="box_title"><%= place.title %></h3>
          <ul id="address_details">
            <li>Address: <br><%= place.line1 %><br>
            <% if place.line2 %>
              <%= place.line2 %></li>
            <% end %>
            <li>City: <%= place.city %></li>  
          </ul>
        </div>
      <% end %>
      <% unless @places.empty? %>
        <% if current_user.id == @places.first.owner_id %>
          <div class="create_new_place inner">
            <div class="float_to_center">
              List A New Place!
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="tabs-2">
    <% unless @current_trips.empty? %>
      <div class="title">
        <h1>Your Current Trips:</h1>
      </div>

      <div class="generic">
        <% @current_trips.each do |trip| %>
          <div class="trip_display">
            <h4>Your Trip To <%= trip.place.title %>:</h4>
            <ul>
              <li>From: <%= trip.begin_date.strftime("%m/%d/%Y") %></li>
              <li>To: <%= trip.end_date.strftime("%m/%d/%Y") %></li>
            </ul>
            <%= link_to "Property Details", place_url(trip.place), class: "btn" %>
            <button class="cancel_trip btn btn-danger" 
                    data-id="<%= trip.id %>"
                    data-place="<%= trip.place_id %>">
                    Cancel Trip
            </button>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="title">
        <h1>No Current Trips Planned</h1>
      </div>
    <% end %>
  </div>

  <div id="tabs-3">
    <% unless @pending_trips.empty? %>
      <div class="title">
        <h1>Pending Requests:</h1>
      </div>

      <div class="generic">
        <% @pending_trips.each do |trip| %>
          <div class="trip_display">
            <h4>Your Trip To <%= trip.place.title %>:</h4>
            <ul>
              <li>From: <%= trip.begin_date.strftime("%m/%d/%Y") %></li>
              <li>To: <%= trip.end_date.strftime("%m/%d/%Y") %></li>
            </ul>
            <%= link_to "Property Details", place_url(trip.place), class: "btn" %>
            <button class="cancel_trip btn btn-danger" 
                    data-id="<%= trip.id %>"
                    data-place="<%= trip.place_id %>">
                    Cancel Request
            </button>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="title">
        <h1>No Pending Requests</h1>
      </div>
    <% end %>
  </div>

  <div id="tabs-4">
    <% unless @past_trips.empty? %>
      <div class="title">
        <h1>Memories:</h1>
      </div>
      <div class="generic">
        <% @past_trips.each do |trip| %>
          <div class="trip_display">
            <h4>Your Past Trip To <%= trip.place.title %>:</h4>
            <ul>
              <li>From: <%= trip.begin_date.strftime("%m/%d/%Y") %></li>
              <li>To: <%= trip.end_date.strftime("%m/%d/%Y") %></li>
            </ul>
            <%= link_to "Property Details", place_url(trip.place), class: "btn" %>
            <% if trip.review %>
              <h5>Review Submitted</h5>
            <% else %>
              <a href="#new_review" role="button" class="btn" data-toggle="modal" id="message_button_<%=trip.id %>">Review Trip</a>
            <% end %>

            <div id="new_review" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Trip Review</h3>
              </div>

              <div class="modal-body">
                <form class="review_forms">
                 
                  <label for="body">Review:</label><br>
                  <textarea id="body" name="review[body]" class="modal-text modal-textarea"></textarea><br>

                  <input type="hidden" name="review[trip_id]" value="<%= trip.id %>">

                  <input type="hidden" name="review[place_id]" value="<%= trip.place.id %>">

                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                </form>
              </div>

              <div class="modal_footer">
                <button id="send" class="btn btn-primary buffer" data-dismiss="modal" data-id="<%= trip.id %>" aria-hidden="true">Send</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="title">
        <h1>Time to take a trip!</h1>
      </div>
    <% end %>
  </div>
</div>





