<script type="text/javascript" src="/submitModalFormMessageThread.js"></script>

<div class="float_right" id="thread_show">
  <% _(messages).sortBy(function(message){ %>
    <% return message.created_at %>
  <% }); %>
  <% messages = messages.reverse() %>
  <h2 id="thread_title">Thread: <%= messages[0].title.split(20) %>...</h2>

  <div class="all_messages">
    <% _(messages).each(function(message){ %>
      <div class="single_message">
        <img class="crop_image" src="<%= message.sender.filepicker_url %>"><h3 style="display:inline;">Sender: <%= message.sender_id === currentUserId ? "You" : message.sender.first_name %></h3>
        <h4>Title: <%= message.title %></h3>
        <p><%= message.message %></p>
      </div>
    <% }) %>
  </div>

  <a href="#new_message" role="button" class="btn" data-toggle="modal" id="message_button">Reply</a>
  <button id="remove" class="btn btn-inverse">Close</button>
</div>

<div id="new_message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Reply</h3>
  </div>

  <div class="modal-body">
    <form class="message_send_forms" id="reply_form_<%= thread.id %>">
      <label for="title">Message Title:</label><br>
      <input type="text" id="title" name="message[title]" class="modal-text"><br>

      <label for="body">Message:</label><br>
      <textarea id="body" name="message[message]" class="modal-text modal-textarea"></textarea><br>

      <input type="hidden" name="message[reciever_id]" value="<%= currentUserId === thread.owner_id ? thread.requester_id : thread.owner_id %>">

      <input type="hidden" name="thread" value="<%= thread.id %>">
    </form>
  </div>

  <div class="modal_footer">
    <button id="send" data-id="<%= thread.id %>" class="btn btn-primary buffer" data-dismiss="modal" aria-hidden="true">Send</button>
  </div>
</div>