<script type="text/javascript" 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqObCxiZ0v7hmMXvcNXZEhONhDHiKhbBs&sensor=false">
</script>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<h2 style="float: right;">Search Results:</h2>

<% if @search.empty? %>
  <p>No Results Found, Sorry!</p>
<% else %>
  
  <div id="map-canvas"></div>
  
  <% @search.each do |place| %>
    <div class="place_search_box all_places" 
         data-id="<%= place.id %>"
         data-address="<%= place.line1 %>" 
         data-city="<%= place.city %>"
         data-title="<%= place.title %>">
      <a name="<%= place.title %>" class="anchor" href="#<%= place.title %>"></a>
      <a href="/places/<%= place.id %>"><%= filepicker_image_tag place.filepicker_url, w:450 %></a>
      <p><img class="crop_image" src="<%= place.owner.filepicker_url %>"><%= place.owner.user_name %>'s <%= place.room_type %></p>
      <p><%= place.city.capitalize %>, <%= place.state.capitalize %></p>
      <div class="p_left"><h4>$<%= place.day_price %> per night</h4></div>
    </div>
  <% end %>
  <div id="search_pagination">
    <%= paginate @search %>
  </div>
<% end %>

<script type="text/javascript" src="/searchPage.js"></script>