<script type="text/javascript"></script>
<h1>List Your Spot!</h1>


<%= form_for(@place) do |f| %>
  <div id="about_your_place" class="new_form_box">

    <label for="title">Title</label><br>
    <input type="text" id="title" name="place[title]" value="<%= @place.title %>">
    <br>

    <label for="description">Description</label><br>
    <textarea id="description>" name="place[description]">
      <%= @place.description %>
    </textarea>
    <br>

    <label for="property_type">Property Type</label>
    <% property_type_array = %w(apartment house bed&breakfast loft cabin
                                villa castle dorm treehouse boat plane
                                parking space car van camper igloo lighthouse
                                yurt tipi cave island chalet earth-house
                                hut train tent other) %>
    <select id="property_type" 
            name="place[property_type]" 
            class="selectpicker select-block">
      <% property_type_array.each do |prp| %>
        <option value="<%= prp %>" <%= 'selected' if @place.property_type == prp %>>
          <%= prp.capitalize %>
        </option>
      <% end %>
    </select>
    <br>

    <label for="accommodates">Accommodates</label>
    <select id="accommodates" 
            name="place[max_occupancy]" 
            class="selectpicker select-block">
      <% 15.times do |num| %>
        <option value="<%= num+1 %>" <%= 'selected' if @place.max_occupancy == '#{num+1}' %>>
            <%= num+1 %>
        </option>
      <% end %>
      <option value="16">16+</option>
    </select>
    <br>

    <label for="room_type">Room Type</label>
    <select id="room_type" 
            name="place[room_type]" 
            class="selectpicker select-block">
      <option value="private room" <%= 'selected' if @place.room_type == 'private room'%>>Private Room
      </option>
      <option value="shared room"<%= 'selected' if @place.room_type == 'shared room'%>>Shared room
      </option>
      <option value="entire home"<%= 'selected' if @place.room_type == 'entire home'%>>Entire Home/Apartment
      </option>
    </select>
    <br>

    <label for="bedrooms">Bedrooms</label>
    <select id="bedrooms" 
            name="place[bedrooms]" 
            class="selectpicker select-block">
      <% 10.times do |num| %>
        <option value="<%= num+1 %>"<%= 'selected' if @place.bedrooms == '#{num+1}'%>>
          <%= num+1 %>
        </option>
      <% end %>
    </select>
    <br>
  </div>

  <div id="protected_info" class="new_form_box">
    <label for="phone_number">Phone Number</label>
    <input type="text" 
           id="phone_number" 
           name="place[phone_number]"
           value="<%= @place.phone_number %>">
    <br>

    <label for="line1">Address Line 1</label>
    <input type="text" 
           id="line1" 
           name="place[line1]"
           value="<%= @place.line1 %>">
    <br>

    <label for="line2">Address Line 2</label>
    <input type="text" 
           id="line2" 
           name="place[line2]"
           value="<%= @place.line2 %>">   
    <br>

    <label for="city">City</label>
    <input type="text" 
           id="city" 
           name="place[city]"
           value="<%= @place.city %>">   
    <br>

    <label for="state">State</label>
    <input type="text" 
           id="state" 
           name="place[state]"
           value="<%= @place.state %>">   
    <br>

    <label for="zip">Zip Code</label>
    <input type="text" 
           id="zip" 
           name="place[zip]"
           value="<%= @place.zip %>"> 
    <br>      
   
  </div>

  <div id="rental_options" class="new_form_box">
    <label for="day_price">Price Per Day</label><br>
    <input type="text"
           id="day_price"
           name="place[day_price]"
           value="<%= @place.day_price %>">
           <br>

    <label for="week_price">Price Per Week</label><br>
    <input type="text"
           id="week_price"
           name="place[week_price]"
           value="<%= @place.week_price %>">
           <br>

    <label for="month_price">Price Per Month</label><br>
    <input type="text"
           id="month_price"
           name="place[month_price]"
           value="<%= @place.month_price %>">
           <br>

    <label for="check_in">Check In Time</label><br>
    <input type="text"
           id="check_in"
           name="place[check_in]"
           value="<%= @place.check_in %>">
           <br>

    <label for="check_out">Check Out Time</label><br>
    <input type="text"
           id="check_out"
           name="place[check_out]"
           value="<%= @place.check_out %>">
           <br>

    <label for="special_info">Any Special Instructions?</label><br>
    <textarea id="special_info" name="place[special_info]">
      <%= @place.special_info %>
    </textarea>
    <br>
  </div>
  <br>

  <div class="image_uploader">
    <%= f.label :filepicker_url, "Upload Your Main Photo:", id: "main_photo_label" %>
    <%= f.filepicker_field :filepicker_url, class: "btn btn-info", onchange: "$('#main_photo_label').text('Photo Uploaded')" %>
  </div>
  <br>
  <input id="submit_listing" type="submit" value="Create Listing" class="btn btn-primary float_left">
<% end %>