<h1><%= @place.title %></h1>

<div id="tabs" class="tabs_box">
  <ul class="height_adjust">
    <li><a href="#tabs-1">Photo</a></li>
    <li><a href="#tabs-2">Place Details</a></li>
    <li><a href="#tabs-3">Rental Details</a></li>
    <li><a href="#tabs-4">Address Info</a></li>
  </ul>
  <div id="tabs-1">
    <div class="main_photo">
      <%= filepicker_image_tag @place.filepicker_url, w:400 %>
    </div>

  </div>
  <div id="tabs-2">
    <div id="description">
      <p><b>Descripton:</b> <br><%= @place.description %></p>
    </div>

    <div class="show_details show">
      <ul id="show_details">
        <li><b>Accommodates:</b> <%= @place.max_occupancy %></li>
        <li><b>Room Type:</b> <%= @place.room_type.capitalize %></li>
        <li><b>Bedrooms:</b> <%= @place.bedrooms %></li>
      </ul>
    </div>
  </div>

  <div id="tabs-3">
    <div class="show_rental_details show">
      <ul class="check_details">
        <li><b>Check In Time:</b> <%= @place.check_in %></li>
        <li><b>Check Out Time:</b> <%= @place.check_out %></li>
      </ul>
      <h4>Special Instructions:</h4>
      <p class="center_me"><%= @place.special_info %></p>
    </div>
  </div>

  <div id="tabs-4">
    <div class="show_address show clear_me">
      <ul id="address">
        <li><b>Address:</b> <br><%= @place.line1 %><br>
        <% if @place.line2 %>
          <%= @place.line2 %></li>
        <% end %>
        <li><b>City:</b> <%= @place.city %></li>  
        <li><b>State:</b> <%= @place.state %></li>
        <li><b>Zip Code:</b> <%= @place.zip %></li>
      </ul>
    </div>
  </div>
</div>

<% if current_user.id == @place.owner_id %>
  <div class="owner_options">
    <%= link_to "View Rental Requests",  
        place_place_rental_requests_url(@place), 
        class: "btn show_link_button" %>
        <br>
    <%= link_to "Edit Listing", 
        edit_place_url, 
        class: "btn btn-primary show_link_button" %>
        <br>
    <%= button_to "Delete Listing", 
        place_url(@place), 
        method: :delete, 
        class:  "btn btn-warning",
        style: "width: 190px; margin: 2px;"%>
  </div>
<% else %>
  <div class="owner_details">
    <h3><%= @place.owner.user_name %>'s Property</h3>
    <%= link_to "Profile", user_url(@place.owner_id), class: "btn btn-primary show_link_button" %>
  </div>
<% end %>

<div class="form_on_page" data-id="<%=@place.id %>">
  <select id="payment_period"
          name="place[payment_period]"
          class="selectpicker select-block"
          data-day="<%= @place.day_price %>"
          data-week="<%= @place.week_price %>"
          data-month="<%= @place.month_price %>">
    <option value="day">Per Day</option>
    <option value="week">Per Week</option>
    <option value="month">Per Month</option>
  </select>

  <div id="price">
    <h3>$<%= @place.day_price%></h3>
  </div>

  <form action="<%= place_place_rental_requests_url(@place) %>" method="post" id="request_form">
    <label for="request_begin">Begin Date</label>
    <br>
    <input type="date" name="request[begin_date]" id="request_begin">
    <br>

    <label for="request_end">End Date</label>
    <br>
    <input type="date" name="request[end_date]" id="request_end">
    <br>

    <input type="hidden" name="request[place_id]" value="<%= @place.id %>">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="submit" value="Submit Request!" class="btn submit_button">
  </form>
</div>

<div id="place_reviews">
  <h3>User Reviews:</h3>
  <% @reviews.each do |review| %>
    <div class="single_review">
      <div class="review_user_info">
        <img class="crop_image" style="display:inline;" src="<%= review.user.filepicker_url %>"><p><%= review.user.first_name %> from <%= review.user.city %></p>
      </div>
      <div class="review_user_page_body">
        <span class="tooltip-arrow"></span>
        <p><%= review.body %></p>
        <br>
        <p><%= review.trip.begin_date.strftime("%B %Y") %></p>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript" src="/placeShow.js"></script>