<!DOCTYPE html>
<html>
<head>
  <title>Air</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar grab_me">
    <div class="navbar-inner">
      <a class="brand" href="/" style="text-decoration:none;">AirC'n'C</a>
      <form action= "<%= places_url %>" 
            method="get" 
            class="navbar-search pull-left">
        <input type="text" 
               placeholder="Where are you going?"
               class="search-query"
               name="search[text]">
        <input type="hidden" 
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="submit" value="Search" class="btn btn-inverse btn-small">
      </form>
      <% if current_user %>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle dash" data-toggle="dropdown">
              <%= current_user.user_name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="/dashboard">Dashboard</a>
              </li>
              <li>
                <a href="/message_threads">
                  My Messages 
                  <span class="float_right">
                    <%= unread_messages.count > 0 ? unread_messages.count : "" %>
                  </span>
                </a>
              </li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          <li><a href="/places/new">Create New Listing</a></li>
        </ul>
      <% else %>
        <ul class="nav pull-right">
          <li><a href="/session/new">Login</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        </ul>
      <% end %>
    </div>
  </div>
  
  <% flash[:messages].try(:each) do |msg| %>
    <%= msg %>
  <% end %>

    
  <%= yield %>
  <div class="clearfooter"></div>
    
</body>
</html>
