<!DOCTYPE html>
<html>
<head>
  <title>Air</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <% flash[:messages].try(:each) do |msg| %>
        <%= msg %>
      <% end %>
      <div class="current_user_display">
        <p>Hello <%= current_user.user_name %></p> 
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

  <% if current_user %>
    <%= button_to "Logout", session_url, method: :delete, class: "btn btn-info logout" %>
    <%= link_to "Home", root_url, class: 'btn link_button float_right' %>
    <%= link_to "Your Places", places_url, class: 'btn link_button float_right' %>
  <% else %>
    <%= link_to "Sign Up", new_user_url, class: 'btn link_button float_right' %>
    <%= link_to "Sign In", new_session_url, class: 'btn link_button float_right' %>
  <% end %>

</body>
</html>
